* {
  /*background-color: salmon;*/

}

h1 {
  font-family: 'Wendy One', serif;
  color: blue;

}

p {
  font-family: georgia, serif;
  color: lightblue;
}

li {
  font-family: arial, sans-serif;
  color: darkblue;
}

#locations {
  background-color: salmon;

}
